<div class="container-fluid photos">
  <div class="row align-self-center justify-content-center">

    <div class="col-md-6 pt-4">
      <figure class="mb-5 ml-5" data-aos="fade-up">
        <img src="assets/images/about-img.jpg" alt="Image" class="img-fluid w-100">
      </figure>
    </div>

    <div class="col-md-6 pt-4 align-self-center">
      <h2 class="text-white mb-4" data-aos="fade-up">Hey There! I'm Jana</h2>

      <div data-aos="fade-up">
        <div class="col-md-12">
          <p> I am from lebanon, I am a <a href="/about/#">self-taught artist</a>. I've been drawing since the day I
            could hold a pencil.
          <p>The things that <a href="/about/#">inspire</a> me the most are anime and disney movies.</p>
          <p>I started Digital art in <a href="/about/#">2017</a>. That was when I got my Wacom.
            Nowadays, I use Photoshop and Wacom intuos draw tablet</p>
          <p>I always feel the need to <a href="/about/#">improve and develop</a> my art. So I work hard and I hope one
            day I will be able to <a href="/about/#">reach my goals</a>
          </p>

          <p class="mb-5"></p>

          <p cass="mt-4">Peace! <br> Jana Kh.</p>

        </div>
      </div>
    </div>
  </div>
  <!--end of row-->

</div>