<div class="container-fluid photos">
  <div class="row align-items-stretch justify-content-center">

    <div class="col-md-6 pt-4" data-aos="fade-up">
      <h2 class="text-white mb-4">Contact Me</h2>

      <div class="row">
        <div class="col-md-12">

          <div class="row ">
            <div class="col-md-12">

              <form>

                <div class="row form-group">
                  <div class="col-md-3">
                    <label class="text-white" for="email">Email :</label>
                  </div>
                  <div class="col-md-9">
                    <a href="mailto:janokhanji@gmail.com" target="_blank ">
                      <input type="email" class="form-control" value="janokhanji@gamil.com"
                        style="cursor: pointer" readonly>
                    </a>
                  </div>
                </div>


                <div class="row form-group">
                  <div class="col-md-3">
                    <label class="text-white" for="Instagram">Instagram :</label>
                  </div>
                  <div class="col-md-9">
                    <a href="https://www.instagram.com/janakhanji98/?hl=en" target="_blank ">
                      <input type="text" class="form-control" value="@janakhanji98" style="cursor: pointer"
                        readonly>
                    </a>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-3">
                    <label class="text-white" for="Twitter">Twitter :</label>
                  </div>
                  <div class="col-md-9">
                    <a href="https://twitter.com/Janakhanji" target="_blank ">
                      <input type="text" class="form-control" value="@JanaKhanji" style="cursor: pointer"
                        readonly>
                    </a>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-3">
                    <label class="text-white" for="Facebook">Facebook :</label>
                  </div>
                  <div class="col-md-9">
                    <a href="https://www.facebook.com/jana.khanji.7/" target="_blank ">
                      <input type="text" class="form-control" value="Jana Khanji" style="cursor: pointer"
                        readonly>
                    </a>
                  </div>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--end of row-->

</div>