<div class="site-wrap">
  <div class="site-mobile-menu overflow-hidden">
    <div class="site-mobile-menu-header ">
      <div class="site-mobile-menu-close mt-3 ">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center " data-aos="fade-left">
    <div class="site-logo">
      <a routerLink="/home">
        <img src="assets/images/logo.png" width="100px" height="56px">
      </a>
    </div>
    <div class="d-inline-block d-xl-none ml-md-0 ml-auto">
      <a href="#" class="site-menu-toggle js-menu-toggle text-white">
        <span class="icon-menu h3"></span></a></div>

  
    <div class="main-menu">
      <ul class="js-clone-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/drawings"> Drawings</a></li>
        <li routerLinkActive="active"><a routerLink="/about" >About me</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact me</a></li>
      </ul>
    </div>
    <div class="main-menu">
      <div class="row justify-content-center fixed-bottom" style="margin:0">
        <div class="col-md-9 text-center ">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            <br>All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </header>

  <main class="main-content" style="margin-top:20px">
    <router-outlet></router-outlet>
  </main>
</div>
